<!DOCTYPE html>
<html lang="en">
<head>
<title>JavaScript - read JSON from URL</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

    <script>

        $.getJSON('http://localhost:8080/api/trades', function(data) {
            data.forEach(function(item) {
                document.write('Request Price: ' + item.dateCreated + '</br>');
            });
        });

    </script>
    
</body>
</html>




{% comment %} $.getJSON('http://localhost:8080/api/trades', function(data) {
      document.write(data);
      trade_data = data;
    });

    $('table').bootstrapTable({ 
      data: trade_data 
    }); {% endcomment %}



    $(document).ready(function () {
      $.getJSON('http://localhost:8080/api/trades', function(data) {
        console.log([data[0].dateCreated, ]);
        $('table').bootstrapTable({ 
          data: data
        });
      });
    });




    $(function() {
      $.getJSON('http://localhost:8080/api/trades', function(data) {
        for (var i = 0; i < data.length; i++) {
            var filtered_data = data.filter(item=>item.historic==false);
            newRow = filtered_data[i];
            newRow.updateButton = "<a href=update_trade" + filtered_data[i].id.timestamp + "><button class='update_btn'><i class='fa fa-pencil'></i></button></a>";
            newRow.deleteButton = "<a href=delete_trade" + filtered_data[i].id.timestamp + "><button class='delete_btn'><i class='fa fa-trash'></i></button></a>";
          $('table').bootstrapTable('insertRow', { 
            index: i,
            row: newRow
          });
        }
      });
  })