.table td {
    text-align: center;   
 }

 .table th {
   text-align: center;   
 }

 td:first-child {
    font-weight: bold
  }

 td:nth-child(2) {
   font-weight: bold
 }

 .update_btn {
  background-color: white;
  color: orange;
  border: 2px solid orange;
  padding: 8px 14px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.update_btn:hover {
  background-color: orange;
  color: white;
}

 .delete_btn {
  background-color: white;
  color: red;
  border: 2px solid red;
  padding: 8px 14px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.delete_btn:hover {
  background-color: red;
  color: white;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1.0;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  z-index: 100;
}